# Build results
[Bb]in/
[Oo]bj/
[Rr]elease/
[Dd]ebug/

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target
!**/[Pp]ackages/build/

# User-specific files (Visual Studio)
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio cache directory
.vs/
